<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="/OwlCarousel/owl.carousel.css">
    <link rel="stylesheet" href="/OwlCarousel/owl.theme.default.css">
    <link rel="stylesheet" href="/css/pageAll.css">
    <link rel="stylesheet" href="/css/index.css">
    
    <title>Polly Cafe</title>
  </head>
  <body>
    <!-- ---------------- Header ---------------- -->
    <header class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-md">
          <div style="margin-left: -20px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="border: none;">
              <i class="fa-solid fa-bars" style="color: #666;"></i>
            </button>
          </div>


          <!-- LEFT -->
          <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">ABOUT</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#ourProducts">Products</a>
                    <a class="dropdown-item" href="#aboutUs">About Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">ONLINE SHOP</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#cake">蛋糕</a>
                    <a class="dropdown-item" href="#bread">麵包</a>
                    <a class="dropdown-item" href="#others">其他點心</a>
                    <a class="dropdown-item" href="#coffeebeans">咖啡豆</a>
                  </div>
                </li>
              </ul>
          </div>

          <!-- LOGO -->
          <div class="mx-auto order-0">
            <a class="navbar-brand" href="/">
              <h2 class="font-weight-bold" style="color:#444;">Polly Café</h2>
            </a>
          </div>

          <!-- RIGHT -->
          <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
              <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                  <a href="#" class="btn navbar-btn mr-2 outline-btn" id="tologin">登入</a>
                  <a href="#" class="btn navbar-btn mr-2 dark-btn" id="toreg">註冊</a>
                </li> -->
                <li class="nav-item login">
                  <!-- <a href="/login" class="nav-link" id="login">登入</a> -->
                </li>
                <li class="nav-item signup">
                  <!-- <a href="/signup" class="nav-link mr-1" id="signup">註冊</a> -->
                </li>
                
                <li class="nav-item logout">
                  <!-- <a href="/logout" class="nav-link mr-1" id="logout">登出</a> -->
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/members/orderlist">訂單查詢</a>
                    <a class="dropdown-item" href="/members/edit">修改會員資料</a>
                    <a class="dropdown-item" href="/members/edit-pwd">修改密碼</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="/cart" method="GET" class="nav-link" id="shoppingcart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
              </ul>
          </div>
        </nav>
      </div>
    </header>

    <!-- ---------------- First ---------------- -->
    <section>
      <div class="row" style="overflow:hidden;">
        <div class="col-md-6 my-auto">
            <div class="mx-auto" style="max-width:360px;padding-left: 20px;">
              <h1 class="display-2" style="color:#856c59;font-family:'Times New Roman', Times, serif;font-style: italic;">Pâtisserie</h1>
              <p>Lorem ipsum dolor.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tenetur repellendusa.</p>
              <a href="#onlineshop" class="btn dark-btn">Shop Now</a>
            </div>
        </div>  

        <div class="col-md-6" style="overflow:hidden;">
          <img class="mx-auto d-block" src="images/y-macroon02.PNG" alt="" style="height:105vh; margin-top: -15%; max-width: 100%;">
          </div>
      </div><br><br>
    </section>

    <!-- ---------------- Selected Coffee Beans ---------------- -->
    <section style="overflow:hidden;">
      <div class="bg-cover" style="background-image: url(images/x-cafe01.PNG);">
        <div class="row">
          <div class="col">
            <h1 class="hr-lines text-center display-2 text-weight-bold my-5" style="font-family:'Times New Roman', Times, serif;font-style: italic;">Selected Coffee Beans</h1>
          </div>
        </div>

        <div class="row cafeCenter mt-2 mb-5 rwdText">
          <div class="col-md-4">
            <div class="row">
              <div class="box">
                <h1 class="text-center display-4" style="font-family:'Times New Roman', Times, serif;font-style: italic;">Arabic Beans</h1>
                <p class="text-black text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="text-black text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptas. Laboriosam soluta magni amet voluptate tempora deserunt velit possimus perspiciatis debitis dolorem vitae asperiores, consequuntur doloribus repellendus ducimus fuga suscipit Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
              </div>
            </div><br>
            <div class="row">
              <div class="box">
                <h1 class="text-center display-4" style="font-family:'Times New Roman', Times, serif;font-style: italic;">High Quality</h1>
                <p class="text-black text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptas.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 ml-auto my-auto">
            <div class="box">
              <h1 class="text-center display-4" style="font-family:'Times New Roman', Times, serif;font-style: italic;">Part Of Life</h1>
              <p class="text-black text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptas. Laboriosam soluta magni amet voluptate tempora deserunt velit.</p>
              <p class="text-black text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur itaque labore illum. Atque eveniet quae sed! Animi explicabo in, minima eaque iure esse a facere, sapiente quidem adipisci atque nihil.
              Architecto.</p>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </section>

    <!-- ---------------- ourProduct ---------------- -->
    <section id="ourProducts">
      <div class="row">
        <div class="col">
          <h1 class="hr-lines text-center display-2 text-weight-bold" style="font-family:'Times New Roman', Times, serif;font-style: italic;">Our Products</h1>
        </div>
      </div>
      <div class="container my-5">
        <div class="owl-carousel owl-theme mt-3">
          <div class="owlCard">
            <div class="row">
              <div class="col-md-6"><img src="images/cake13_600.png"></div>
              <div class="col-md-6 text-center my-auto">
                <h1 class="display-3 pb-5" style="color:#856c59;">Cake</h1>
                <i style="color:#856c59" class="fa-solid fa-cake-candles fa-4x mb-3"></i>
                <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores animi unde fugiat temporibus reprehenderit amet, distinctio neque odit esse ducimus corrupti ipsum quisquam at dolorem praesentium harum eveniet.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod velit aut voluptatem natus at nulla. Consectetur sequi autem, inventore modi itaque.</p>
              </div>
            </div>
          </div>

          <div class="owlCard">
            <div class="row">
              <div class="col-md-6"><img src="images/bread04_600.png"></div>
              <div class="col-md-6 text-center my-auto">
                <h1 class="display-3 pb-5" style="color:#856c59;">Bread</h1>
                <i style="color:#856c59" class="fa-solid fa-bread-slice fa-4x mb-3"></i>
                <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores animi unde fugiat temporibus reprehenderit amet, distinctio neque odit esse ducimus corrupti ipsum quisquam at dolorem praesentium harum eveniet.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod velit aut voluptatem natus at nulla. Consectetur sequi autem, inventore modi itaque.</p>
              </div>
            </div>
          </div>

          <div class="owlCard">
            <div class="row">
              <div class="col-md-6"><img src="images/cake03_600.png"></div>
              <div class="col-md-6 text-center my-auto">
                <h1 class="display-3 pb-5" style="color:#856c59;">Others Dessert</h1>
                <i style="color:#856c59" class="fa-solid fa-cookie fa-4x mb-3"></i>
                <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores animi unde fugiat temporibus reprehenderit amet, distinctio neque odit esse ducimus corrupti ipsum quisquam at dolorem praesentium harum eveniet.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod velit aut voluptatem natus at nulla. Consectetur sequi autem, inventore modi itaque.</p>
              </div>
            </div>
          </div>

          <div class="owlCard">
            <div class="row">
              <div class="col-md-6"><img src="images/cb01_600.png"></div>
              <div class="col-md-6 text-center my-auto">
                <h1 class="display-3 pb-5" style="color:#856c59;">Coffee Beans</h1>
                <i style="color:#856c59" class="fa-solid fa-mug-saucer fa-4x mb-3"></i>
                <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores animi unde fugiat temporibus reprehenderit amet, distinctio neque odit esse ducimus corrupti ipsum quisquam at dolorem praesentium harum eveniet.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod velit aut voluptatem natus at nulla. Consectetur sequi autem, inventore modi itaque.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row my-5">
          <div class="col-md-6 text-center">
            <div class="d-flex">
              <div>
                <i style="color:#856c59" class="fa-solid fa-cake-candles fa-5x mb-3"></i>
                <h2 style="color:#856c59">Cake</h2>
              </div>
              <div class="my-auto">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium expedita eius dolor recusandae asperiores.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="d-flex">
              <div>
                <i style="color:#856c59" class="fa-solid fa-bread-slice fa-5x mb-3"></i>
                <h2 style="color:#856c59">Bread</h2>
              </div>
              <div class="my-auto">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium expedita eius dolor recusandae asperiores.</p>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="row">
          <div class="col-md-6 text-center">
            <div class="d-flex">
              <div>
                <i style="color:#856c59" class="fa-solid fa-cookie fa-5x mb-3"></i>
                <h2 style="color:#856c59">Others</h2>
              </div>
              <div class="my-auto">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium expedita eius dolor recusandae asperiores.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="d-flex">
              <div>
                <i style="color:#856c59" class="fa-solid fa-mug-saucer fa-5x mb-3"></i>
                <h2 style="color:#856c59">Coffee Beans</h2>
              </div>
              <div class="my-auto">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium expedita eius dolor recusandae asperiores.</p>
              </div>
            </div>
          </div>
        </div> -->
      </div><br>
    </section>

    <!-- ---------------- aboutUs ---------------- -->
    <section id="aboutUs">
      <div class="row">
        <div class="col">
          <h1 class="hr-lines text-center display-2 text-weight-bold" style="font-family:'Times New Roman', Times, serif;font-style: italic;">About Us</h1>
        </div>
      </div>

      <div class="container mx-auto text-center my-5">
        <div class="row">
          <div class="col-md-6">
            <img src="images/store.avif" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 my-auto">
            <h2>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quis mollitia facere fugit dolorum voluptates corporis."</h2>
          </div>
        </div>
        <br><br><br>
        <div class="row">
          <div class="col-md-6 my-auto">
            <h2>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quis mollitia facere fugit dolorum voluptates corporis."</h2>
          </div>
          <div class="col-md-6">
            <img src="images/store2.avif" alt="" class="img-fluid">
          </div>
        </div>
        <br><br><br>
        <div class="row mx-auto" style="max-width: 768px;">
          <h1 class="display-4 col text-center">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quis mollitia facere fugit dolorum voluptates corporis."</h1>
        </div><br>
      </div>
    </section>

    <!-- ---------------- onlineShop" ---------------- -->
    <section style="background-color: #f9ebda;" id="onlineshop">
      <div class="row">
        <div class="col">
          <h1 class="hr-lines text-center display-2 text-weight-bold" style="font-family:'Times New Roman', Times, serif;font-style: italic;">Online Shop</h1>
        </div>
      </div>

      <div class="container mt-3">
        
        <!-- CAKE -->
        <h1 class="display-r text-center productTitle" id="cake">蛋糕</h1>
        <div class="row mt-5 mx-auto" id="cakeCard">
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake13_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">奢華玫瑰頂級蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 1280 / <span>4吋</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">北海道鮮奶油搭配實用級玫瑰花露調配，清爽不膩口</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake06_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">藍莓焦糖奶油蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 680 / <span>6吋</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">焦糖奶油搭配綿密的巧克力戚風，加上新鮮藍莓中和口感</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake07_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">榛果巧克力奶油蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 600 / <span>6吋</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">鮮奶油佐榛果巧克力醬，搭配綿密札實的香草戚風</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake09_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">紅絲絨蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 600 / <span>6吋</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">尊貴的深紅色澤與淡雅可可風味，搭配奶油乳酪內餡</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake10_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">草莓奶油香蕉磅蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 550 / <span>1條</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">扎實口感、濃郁香氣</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake11_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">70%生巧克力蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 600 / <span>6吋</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">帶點微苦和些許白蘭地的香氣的生巧克力製作而成</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>      
          </div> -->
        </div>

        <!-- BREAD -->
        <br>
        <h1 class="display-r text-center productTitle" id="bread">麵包</h1>
        <div class="row mt-5 mx-auto" id="breadCard">
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/bread01_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">蜂蜜裸麥麵包</p>
                <p class="text-secondary font-weight-bold">NT. 120 / <span>1入</span></p>
                <p class="mb-0">全素</p>
                <p class="cbInfo">口感紮實帶有嚼勁，伴隨淡淡小麥香氣，健康無負擔</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/bread02_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">葡萄乾裸麥麵包</p>
                <p class="text-secondary font-weight-bold">NT. 90 / <span>1入</span></p>
                <p class="mb-0">全素</p>
                <p class="cbInfo">口感紮實帶有嚼勁，伴隨淡淡小麥香氣，健康無負擔</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div> 
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/bread03_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">皇家鮮奶吐司</p>
                <p class="text-secondary font-weight-bold">NT. 120 / <span>1條</span></p>
                <p class="mb-0">奶素</p>
                <p class="cbInfo">柔軟香甜、口感綿密</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/bread04_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">原味可頌</p>
                <p class="text-secondary font-weight-bold">NT. 120 / <span>5入</span></p>
                <p class="mb-0">奶素</p>
                <p class="cbInfo">外表層次分明口感酥脆，內部孔洞均勻紮實耐嚼</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/bread05_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">原味Bagel</p>
                <p class="text-secondary font-weight-bold">NT. 135 / <span>3入</span></p>
                <p class="mb-0">奶素</p>
                <p class="cbInfo">使用進口非基改小麥麵粉及阿根廷無鹽奶油製作</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/bread06_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">穀麥Bagel</p>
                <p class="text-secondary font-weight-bold">NT. 145 / <span>3入</span></p>
                <p class="mb-0">全素</p>
                <p class="cbInfo">使用進口非基改小麥麵粉，撒上亞麻籽及芝麻，天然又健康</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
             
          </div> -->
        </div>

        <!-- Others -->
        <br>
        <h1 class="display-r text-center productTitle" id="others">其他點心</h1>
        <div class="row mt-5 mx-auto" id="othersCard">
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake02_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">藍莓奶油司康</p>
                <p class="text-secondary font-weight-bold">NT. 360 / <span>6入</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">美國進口藍莓搭配卡士達醬，搭配鬆軟香濃的司康</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake03_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">藍莓奶油迷你塔</p>
                <p class="text-secondary font-weight-bold">NT. 360 / <span>6入</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">美國進口藍莓搭配卡士達醬，塔皮酥脆</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>           
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake04_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">海鹽鮮奶油杯子蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 320 / <span>6入</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">北海道鮮奶油加上海鹽提味，口感分明而不膩</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cake05_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">香蕉鮮奶油杯子蛋糕</p>
                <p class="text-secondary font-weight-bold">NT. 320 / <span>6入</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">使用台灣在地小農香蕉</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>           
          </div> -->
          <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/macroon01_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">法式馬卡龍禮盒</p>
                <p class="text-secondary font-weight-bold">NT. 450 / <span>9入</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">口感酥脆，搭配香氣十足的餡料，層次分明</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>           
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cookie01_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">美式巧克力餅乾</p>
                <p class="text-secondary font-weight-bold">NT. 110 / <span>8入</span></p>
                <p class="mb-0">蛋奶素</p>
                <p class="cbInfo">使用濃郁香甜的巧克力豆</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div> 
          </div>

        </div>

        <!-- Coffee Beans -->
        <br>
        <h1 class="display-r text-center productTitle" id="coffeebeans">咖啡豆</h1>
        <h5 class="text-center mt-4">精選100% Arabica 阿拉比卡豆</h5>
        <div class="row mt-5 mx-auto" id="cbCard">
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cb01_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">肯亞 加洽莎 AA TOP</p>
                <p class="text-secondary font-weight-bold">NT. 360 / <span>227g *1袋 (半磅)</span></p>
                <p class="mb-0">中焙 / 水洗</p>
                <p class="cbInfo">濃郁黑醋栗的香氣，豐富的水果調性</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>

          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cb02_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">瓜地馬拉 花神</p>
                <p class="text-secondary font-weight-bold">NT. 360 / <span>227g *1袋 (半磅)</span></p>
                <p class="mb-0">淺焙 / 水洗</p>
                <p class="cbInfo">優雅花香、酸性柔和、巧克力尾韻</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cb03_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">西達摩 G1 耶加雪菲</p>
                <p class="text-secondary font-weight-bold">NT. 400 / <span>227g *1袋 (半磅)</span></p> 
                <p class="mb-0">中焙 /  日曬</p>
                <p class="cbInfo">甜橙、覆盆子、草莓、白花，酸質明亮</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
            <div class="prouduct-card h-100 d-flex flex-column">
              <img src="images/cb04_600.png" class="img-fluid mx-auto d-block" alt="">
              <div class="product-detail p-3">
                <p class="pname">巴拿馬莊園帕卡瑪拉</p>
                <p class="text-secondary font-weight-bold">NT. 400 / <span>227g * 1袋 (半磅)</span></p>
                <p class="mb-0">深焙 /  水洗</p>
                <p class="cbInfo">巧克力及焦糖香氣，帶有些許柑橘及熟果乾的風味巧克力</p>
              </div>
              <a href="#" class="btn add-btn w-100 mx-auto text-center mt-auto mb-4" id="addToCart">加入購物車</a>
            </div>
          </div> -->
        </div><br><br><br>
      </div>
    </section>
    
    <!-- ---------------- Footer ---------------- -->
    <footer class="footer">
      <div class="container pt-3">
        <div class="row">
          <div class="col-12 d-flex justify-content-center mb-5">
            <div class="left">
              <p class="my-3 text-secondary contact">CONTACT</p>
              <div class="footer-icon mb-1">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook mr-2"></i></a>
                <a href="http://instagram.com/" target="_blank"><i class="fa-brands fa-instagram mr-2"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </div>
              <p class="mb-1">02-12345678</p>
              <span><a href="mailto: pollypollywww@gmail.com" class="toThisLink"> pollypollywww@gmail.com</a></span>
            </div>

            <div class="right pt-4 pl-3">
              <p class="mb-1 text-center pt-2">加入官方LINE</p>
              <i class="fa-solid fa-qrcode fa-5x pl-3"></i>
            </div>
          </div>
          
        </div>
        <p class="text-center mb-0">波波莉烘培坊</p>
        <p class="text-center">Copyright © 2023 WanPOLLY All Rights Reserved.</p>
      </div>
    </footer>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/af098acfcb.js" crossorigin="anonymous"></script>
    <script src="OwlCarousel/owl.carousel.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/headers_Nav.js"></script>
  </body>
</html>