<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminAll.css">
    
    <title>Polly Cafe</title>
    <style>

    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="page">

        <!-- SideBar -->
        <div class="col-md-3 col-xl-2 table-dark" id="sidebar">
          <nav class="navbar navbar-expand-md flex-md-column">

            <a href="/admin" class="sidebar-header navbar-brand font-weight-bold pl-md-3">Polly Cafe 後台管理系統</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="border: none;">
              <i class="fa-solid fa-bars" style="color: #666;"></i>
            </button>

            <div class="sidebar-content navbar-collapse collapse w-100 order-1 dual-collapse2 mt-3 mt-md-4 justify-content-center">
              <ul class="navbar-nav flex-md-column w-100">
                <li><p class="text-center mb-3">{{ UserName }} 您好</p></li>
                <li class="nav-item">
                  <a href="#memberMangement" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">會員管理</a>
                  <ul class="collapse next-level" id="memberMangement">
                      <li><a class="nav-link" href="/admin/mem/list">&nbsp;&nbsp;&nbsp;會員列表</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#orderMangement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">訂單管理</a>
                  <ul class="collapse next-level" id="orderMangement">
                      <li><a href="/admin/order/list">&nbsp;&nbsp;&nbsp;訂單列表</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#itemManagement" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">產品管理</a>
                  <ul class="collapse next-level" id="itemManagement">
                    <li><a href="/admin/item/list">&nbsp;&nbsp;&nbsp;產品列表</a></li>
                    <li><a href="/admin/item/add">&nbsp;&nbsp;&nbsp;新增產品</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="level" href="/admin/statistics">數據統計</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-footer navbar-collapse collapse w-100 order-2 dual-collapse2 mt-3 mt-md-5 justify-content-center">
                <ul class="navbar-nav flex-md-column w-100">
                  <li><a class="btn btn-block dark-btn" href="/" target="_blank">前台</a></li>
                  <li><a class="btn btn-block btn-outline-light my-2" href="/logout">登出</a></li>
                </ul>
            </div>

          </nav>
        </div>

        <!-- Content -->
        <div class="col-md-9 col-xl-10">
          <div class="content">
            <h3 class="text-center mt-4" style="color:#b3848f;">修改產品</h3>
            <div class="row mb-4 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="formBox p-3">

                  <div class="form-group row">
                    <select name="item_type" id="item_type" class="form-select form-control" aria-label="Default select example">
                      <option selected disabled>類別</option>
                      <option value="蛋糕">蛋糕</option>
                      <option value="麵包">麵包</option>
                      <option value="其他">其他</option>
                      <option value="咖啡豆">咖啡豆</option>
                    </select>
                  </div>

                  <div class="form-group row">
                    <label for="item_name">名稱</label>
                    <input type="text" name="item_name" id="item_name" class="form-control">
                  </div>
    
                  <div class="form-group row">
                    <label for="item_price">價格 ( 不須輸入幣別 )</label>
                    <input type="text" name="item_price" id="item_price" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')">
                  </div>
    
                  <div class="form-group row">
                    <label for="item_size">規格 ( 如: 4吋 或 3入 )</label>
                    <input type="text" name="item_size" id="item_size" class="form-control">
                  </div>

                  <div class="form-group row">
                    <label for="veg" class="col-12 col-form-label px-0">素食</label>
                    <div class="col-12 px-0">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_veg" id="lacto_Ovo" value="蛋奶素">
                        <label class="form-check-label" for="lacto_Ovo">蛋奶素</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_veg" id="lacto" value="奶素">
                        <label class="form-check-label" for="lacto">奶素</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_veg" id="vegan" value="全素">
                        <label class="form-check-label" for="vegan">全素</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_veg" id="veg_none" value="無">
                        <label class="form-check-label" for="veg_none">無</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="bean_type" class="col-12 col-form-label px-0">咖啡豆選項 ( 時間與處理方式各選一 )</label>
                    <div class="col-12 px-0">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="bean_type" type="checkbox" id="bean_type01" value="淺焙">
                        <label class="form-check-label" for="bean_type01">淺焙</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="bean_type" type="checkbox" id="bean_type02" value="中焙">
                        <label class="form-check-label" for="bean_type02">中焙</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="bean_type" type="checkbox" id="bean_type03" value="深焙">
                        <label class="form-check-label" for="bean_type03">深焙</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="bean_type" type="checkbox" id="bean_type04" value="水洗">
                        <label class="form-check-label" for="bean_type04">水洗</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="bean_type" type="checkbox" id="bean_type05" value="日曬">
                        <label class="form-check-label" for="bean_type05">日曬</label>
                      </div>
                    </div>
                  </div>
    
                  <div class="form-group row">
                    <label for="item_note">說明 ( 如風味敘述 )</label>
                    <input type="text" name="item_note" id="item_note" class="form-control">
                  </div>

                  <div class="form-group row">
                    <label for="item_img">圖片檔名 ( 如: cb02_600.png )</label>
                    <input type="text" name="item_img" id="item_img" class="form-control">
                  </div>

                  <div class="form-group row">
                    <label class="col-12 col-form-label px-0">是否上架</label>
                    <div class="col-12 px-0">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_launch" id="launch_true" value=true>
                        <label class="form-check-label" for="launch_true">是</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_launch" id="launch_false" value=false>
                        <label class="form-check-label" for="launch_false">否</label>
                      </div>
                    </div>
                  </div>
    
                  <div class="d-flex justify-content-center mt-5 mb-4">
                      <button type="button" class="btn btn_width add-btn mr-4" id="update_btn">修改</button>
                      <button type="button" class="btn btn_width dark-btn" id="delete_btn">刪除</button>
                  </div>
                 <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/af098acfcb.js" crossorigin="anonymous"></script>
    <script src="/js/admin-item.js"></script>

    <script>
        let ItemId = "{{result.ItemId}}";

        $("#item_type").val("{{result.ItemType}}");
        $("#item_name").val("{{result.ItemName}}");
        $("#item_price").val("{{result.ItemPrice}}");
        $("#item_size").val("{{result.ItemSize}}");

        let ItemVeg = "{{ result.ItemVeg }}";
        $("input[name='item_veg'][value='"+ ItemVeg +"']").attr('checked', true);

        $("#item_note").val("{{result.ItemNote}}");
        $("#item_img").val("{{result.ItemImg}}");

        let ItemLaunch = "{{ result.ItemLaunch }}";
        $("input[name='item_launch'][value="+ ItemLaunch +"]").attr('checked', true);

        const BeanType = ("{{ result.BeanType }}").split(" / ");
        //console.log(BeanType);

        BeanType.forEach(ele => {
          $("input[name='bean_type'][value='"+ ele +"']").prop('checked', true);
        });

        editItem();
    </script>
  </body>
</html>