<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminAll.css">
    <title>Polly Cafe</title>
    <style>

    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height: 100vh;">

        <!-- SideBar -->
        <div class="col-md-3 col-xl-2 table-dark" id="sidebar">
          <nav class="navbar navbar-expand-md flex-md-column">

            <a href="/admin" class="sidebar-header navbar-brand font-weight-bold pl-md-3">Polly Cafe 後台管理系統</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="border: none;">
              <i class="fa-solid fa-bars" style="color: #666;"></i>
            </button>

            <div class="sidebar-content navbar-collapse collapse w-100 order-1 dual-collapse2 mt-3 mt-md-4 justify-content-center">
              <ul class="navbar-nav flex-md-column w-100">
                <li><p class="text-center mb-3">{{ UserName }} 您好</p></li>
                <li class="nav-item">
                  <a href="#memberMangement" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">會員管理</a>
                  <ul class="collapse next-level" id="memberMangement">
                      <li><a class="nav-link" href="/admin/mem/list">&nbsp;&nbsp;&nbsp;會員列表</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#orderMangement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">訂單管理</a>
                  <ul class="collapse next-level" id="orderMangement">
                      <li><a href="/admin/order/list">&nbsp;&nbsp;&nbsp;訂單列表</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#itemManagement" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">產品管理</a>
                  <ul class="collapse next-level" id="itemManagement">
                    <li><a href="/admin/item/list">&nbsp;&nbsp;&nbsp;產品列表</a></li>
                    <li><a href="/admin/item/add">&nbsp;&nbsp;&nbsp;新增產品</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="level" href="/admin/statistics">數據統計</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-footer navbar-collapse collapse w-100 order-2 dual-collapse2 mt-3 mt-md-5 justify-content-center">
                <ul class="navbar-nav flex-md-column w-100">
                  <li><a class="btn btn-block dark-btn" href="/" target="_blank">前台</a></li>
                  <li><a class="btn btn-block btn-outline-light my-2" href="/logout">登出</a></li>
                </ul>
            </div>

          </nav>
        </div>

        <!-- Content -->
        <div class="col-md-9 col-xl-10">
          <div class="content">
            <h3 class="text-center mt-4" style="color:#b3848f;">銷售數據統計</h3>
            <p class="text-center" style="font-size: 0.9rem;">以結案訂單計算 ( 已付款 / 已送達 )</p>
            {{#if result}}
            <div class="row mt-4 p-md-3">
              <div class="col-12 col-md-4">
                <div class="amontBox p-3 mb-4">
                  <h5 class="mb-4 text-center">數量及金額統計</h5>
                  <p class="mb-2">訂單總數量： <span class="font-weight-bold">{{sumOrder}}</span></p>
                  <p class="mb-2">產品總銷量： <span class="font-weight-bold">{{sumQuantity}}</span></p>
                  <p class="mb-2">總營業額： <span class="font-weight-bold text-danger">$ {{LocaleString sumTotal}}</span></p>
                </div>
                <div class="typeBox">
                  <h5 class="mb-1 text-center">銷售類別統計</h5>
                  <table class="table table-hover text-center">
                    <thead class="thead-dark">
                      <tr>
                        <th>類別</th>
                        <th>總銷量</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each countType}}
                      <tr>
                        <td data-th="類別">{{_id}}</td>
                        <td data-th="總銷量">{{count}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12 col-md-7">
                <h5 class="text-center">銷售品項統計</h5>
                <table class="table table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th>Id</th>
                      <th>名稱</th>
                      <th>總銷量</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each countItem}}
                    <tr>
                      <td data-th="Id">{{_id.ItemId}}</td>
                      <td data-th="名稱">{{_id.ItemName}}</td>
                      <td data-th="總銷量">{{count}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>

            </div>
            {{/each}}{{else}}{{message}}{{/if}}
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/af098acfcb.js" crossorigin="anonymous"></script>
  </body>
</html>